@import '_config';
@import '_menu';
@import '_mobile';



*{
    box-sizing:border-box;
}
body{
    
     @include background;
    background:$primary-color;
    color:set-text-color($primary-color);
    height:100%!important;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   // line-height: 1.5;
}

//Headings
h1,h2,h3{
    margin:0;
    font-weight: 400;

    &.lg-heading{
        font-size: 6rem;

    }
    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background:rgba( lighten($primary-color,2),0.5);

    }
}
     
a{
    color: #fff;
    text-decoration:none;
}

header{
    position:fixed;
    z-index:2;
    width:100%;
}

.text-secondary{
    color: $secondary-color;
    @include easeOut();
}

main{
    padding: 4rem;
    height: 100%;
    .icons{
        margin-top: 1rem;
        a{
            padding: 0.4rem;

            &:hover{
                color: $secondary-color;
             
            }

        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}



.register-box{
    width:280px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:#fff;
}
.textbox ,.g-recaptcha{
    width:100%;
    /*overflow:hidden;*/
    font-size: 20px;
    padding:8px 0;
    margin:8px 0;
    border-bottom: 1px solid black;
}
textbox i{
    width: 26px;
    float: left;
    text-align: center;
}
.textbox input{
    border:none;
    outline: none;
    background:none;
    color:white;
    font-size: 18px;
    width:80%;
   
    margin: 0 10px;
}

.btn{
    width: 100%;
    background:none;
    border: 2px solid black;
    color:#fff;
    padding: 5px;
    font-size:18px;
    cursor:pointer;
    margin:12px 0;
}


